.popup__input {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 1.20;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0px 0px 30px;
  width: 358px;
  padding: 0px 0px 11.53px;
}

@media screen and (max-width: 524px) {
  .popup__input {
    width: 238px;
    margin: 0px 0px 30px;
    padding: 0px 0px 9px;
    line-height: 17px;
  }
}

