.popup__input-error_open {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 1;
  text-decoration: none;
  position: absolute;
  top: 50%;
}
