.add-button {
  display: flex;
  align-self: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: 20px;
  padding: 14px 64px;
  background-image: url(../../images/plus_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 0.8s linear 0.05s;
}

.add-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .add-button {
    padding: 17px 17px;
    margin: 0 auto 36px;
    width: 278px;
  }
}
