.elements__button-like {
  background-image: url(../../../images/like_button.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  border: 0px;
  background-color: transparent;
  transition: opacity linear 0.35s;
}

.elements__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}

.elements__button-like_active {
  background-image: url("../../../images/heartblack.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
}
