.header {
  max-width: 880px;
  margin: 0 200px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin: 0;
  }
}
