.popup__save_disabled {
  background-color: #e5e5e5;
  color: #000000;
  border-color: #000000;
  opacity: 0.2;
  cursor: default;
}

.popup__save_disabled:hover {
  opacity: 0.2;
  cursor: default;
}
