.popup__title {
  width: 330px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 54px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: black;
}

@media screen and (max-width: 324px) {
  .popup__title {
    width: 238px;
    margin: 0px 0px 76px;
    font-size: 18px;
    line-height: 19px;
  }
}
